[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ctgdist"]
	path = ctgdist
	url = https://github.com/cran/ctgdist
[submodule "DIFshiny"]
	path = DIFshiny
	url = https://github.com/cran/DIFshiny
[submodule "irtGUI"]
	path = irtGUI
	url = https://github.com/cran/irtGUI
[submodule "shinyIRT"]
	path = shinyIRT
	url = https://github.com/cran/shinyIRT
